.cell {
  @apply flex justify-center align-middle text-xl w-10 p-1 h-10 border-2 border-cyan-500 relative;
}

.overlay {
  @apply absolute bg-stone-600 flex justify-center items-center box-border top-0 h-full w-full
}