.cell {
  @apply flex justify-center align-middle text-3xl w-12 p-1 h-12 border-2 border-black relative;
}

.overlay {
  @apply absolute bg-gray-700 opacity-60 flex justify-center items-center box-border top-0 h-full w-full;

}
