.cell {
  @apply flex justify-center align-middle lg:text-3xl lg:w-12 text-xl w-8 p-1 lg:h-12 h-8 border-2 border-black relative;
}

.overlay {
  @apply absolute bg-gray-500 flex justify-center items-center box-border top-0 h-full w-full;

}
