@import 'tailwindcss';
@import './components/cell.css';

@layer base {
  body {
    background-color: #210024;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
      sans-serif;
  }
}

@theme {
  --color-primary: var(--color-stone-400);
}
